@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --animate-shimmer: shimmer 2s linear infinite;
}

@keyframes shimmer {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
